SUBSYSTEM!="sound", GOTO="my_usb_audio_end"
ACTION!="add", GOTO="my_usb_audio_end"

DEVPATH=="/devices/platform/soc/3f980000.usb/usb1/1-1/1-1.1/1-1.1.3/1-1.1.3.1/1-1.1.3.1:1.0/sound/card?", ATTR{id}="FMBERRY_0"
DEVPATH=="/devices/platform/soc/3f980000.usb/usb1/1-1/1-1.1/1-1.1.3/1-1.1.3.2/1-1.1.3.2:1.0/sound/card?", ATTR{id}="FMBERRY_1"
DEVPATH=="/devices/platform/soc/3f980000.usb/usb1/1-1/1-1.1/1-1.1.3/1-1.1.3.3/1-1.1.3.3:1.0/sound/card?", ATTR{id}="FMBERRY_2"
DEVPATH=="/devices/platform/soc/3f980000.usb/usb1/1-1/1-1.1/1-1.1.3/1-1.1.3.4/1-1.1.3.4:1.0/sound/card?", ATTR{id}="FMBERRY_3"
DEVPATH=="/devices/platform/soc/3f980000.usb/usb1/1-1/1-1.1/1-1.1.3/1-1.1.3.7/1-1.1.3.7:1.0/sound/card?", ATTR{id}="FMBERRY_4"
DEVPATH=="/devices/platform/soc/3f980000.usb/usb1/1-1/1-1.1/1-1.1.3/1-1.1.3.6/1-1.1.3.6:1.0/sound/card?", ATTR{id}="FMBERRY_5"
DEVPATH=="/devices/platform/soc/3f980000.usb/usb1/1-1/1-1.1/1-1.1.3/1-1.1.3.5/1-1.1.3.5:1.0/sound/card?", ATTR{id}="FMBERRY_6"
DEVPATH=="/devices/platform/soc/3f980000.usb/usb1/1-1/1-1.1/1-1.1.2/1-1.1.2:1.0/sound/card?", ATTR{id}="FMBERRY_7"

LABEL="my_usb_audio_end"

